<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import HeaderOrquestra from './headerOrquestra'
import PerfilInstrumento from '@/app/orquestra/components/forms/perfilInstrumento'
import { mapActions, mapGetters } from 'vuex'
import { isEqual } from 'lodash'

export default {
  name: 'FormOrquestra',
  components: { MasterTemplate, HeaderOrquestra, PerfilInstrumento },
  data () {
    return {
      orquestra: { id: null, name: '', acronyms: '', address: '', email: '', phone: '', dt_end: null },
      tamanho: 'col-md-12',
      usuario: 0,
      usuarios: []
    }
  },
  computed: {
    ...mapGetters(['_isAdmin', '_isAdminOrquestra', '_cPerfil'])
  },
  created () {
    this.orquestra.id = this.$route.params.id

    if (this._isAdminOrquestra || this._isAdmin) {
      if (this._isAdminOrquestra && this.orquestra.id) {
        (isEqual(this.orquestra.id.toString(), this._cPerfil.orquestra.id.toString())) ? this.loadObjeto() : this.$router.push('/')
      } else if (this._isAdmin) {
        if (this.orquestra.id) {
          this.loadObjeto()
          this.loadUsuarios()
        }
      } else { this.$router.push('/') }
    } else { this.$router.push('/') }
  },
  methods: {
    ...mapActions(['attemptNewOrquestra', 'attemptLoadOrquestra', 'attemptEditOrquestra', 'attemptAllUsuarios', 'attemptRemoveMembro']),

    doSave () {
      this.$loader.show()
      const orquestra = this.orquestra
      if (this.orquestra.id) {
        this.attemptEditOrquestra({ ...orquestra })
          .then(resp => {
            if (resp.success) {
              this.$swal({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                type: 'success',
                text: resp.message
              })
            } else {
              this.$swal({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                type: 'warning',
                title: 'Ops ...',
                text: resp.message
              })
            }
          })
          .catch(e => {
            console.log(['login', e])
          })

        this.$loader.hide()
      } else {
        this.attemptNewOrquestra({ ...orquestra })
          .then(resp => {
            this.orquestra = resp.data
            this.tamanho = 'col-md-8'
            this.$router.push('/orquestra/form/' + resp.data.id)
            if (resp.success) {
              this.$swal({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                type: 'success',
                text: resp.message
              })
            } else {
              this.$swal({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                type: 'warning',
                title: 'Ops ...',
                text: resp.message
              })
            }
            this.$loader.hide()
          })
          .catch(e => {
            console.log(['login', e])
          })
      }
    },
    loadObjeto () {
      this.tamanho = (this._isAdmin) ? 'col-md-8' : 'col-md-12'

      if (this.orquestra.id) {
        this.$loader.show()
        this.attemptLoadOrquestra(this.orquestra.id)
          .then(response => {
            this.orquestra = response
            this.$loader.hide()
          })
          .catch(e => {
            console.log(['login', e])
          })
        this.$loader.hide()
      }
    },
    loadUsuarios () {
      this.$loader.show()
      this.attemptAllUsuarios().then(resp => {
        this.usuarios = resp.data
        this.$loader.hide()
      })
      this.$loader.hide()
    }

  }
}
</script>

<template>
  <master-template>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Orquestra - {{orquestra.id ? 'Editar' : 'Criar'}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">
                <router-link to='/orquestra'>Orquestra</router-link>
              </li>
              <li class="breadcrumb-item active">{{orquestra.id ? 'Editar' : 'Criar'}}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-md-12"
            v-if="this.orquestra.id"
          >
            <HeaderOrquestra :orquestra="this.orquestra" />
          </div>
          <div :class="tamanho">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="name">Nome</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="orquestra.name"
                        placeholder="Nome"
                      >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="acronyms">Sigla</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="orquestra.acronyms"
                        placeholder="Sigla"
                      >
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="address">Endereço</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="orquestra.address"
                        placeholder="Endereço"
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">E-mail</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="orquestra.email"
                        placeholder="E-mail"
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="phone">Telefone</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="orquestra.phone"
                        placeholder="Telefone"
                        v-mask="'(##) #####-####'"
                      >
                    </div>
                  </div>
                </div>

              </div>

              <div class="card-footer">
                <button
                  v-on:click="doSave()"
                  type="submit"
                  class="btn btn-primary"
                >{{orquestra.id ? 'Alterar' : 'Registrar'}}</button>
              </div>

            </div>
          </div>
          <div
            class="col-md-4"
            v-if="this.orquestra.id && _isAdmin"
          >
            <div
              class="card card-success"
              style="transition: all 0.15s ease 0s; height: inherit; width: inherit;"
            >
              <div class="card-header">
                <h3 class="card-title">Membros</h3>

                <div class="card-tools">
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="maximize"
                  ><i class="fas fa-expand"></i></button>
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                  ><i class="fas fa-minus"></i></button>
                </div>
              </div>
              <div class="card-body">
                <select
                  class="form-control"
                  v-model="usuario"
                >
                  <option
                    disabled
                    value="0"
                    selected
                  >Escolha um usuario</option>
                  <option
                    v-for="item in usuarios"
                    :key="item.id"
                    :value="item.id"
                  >
                    {{ item.name }}
                  </option>

                </select>
                <hr>
                <PerfilInstrumento
                  v-show="usuario"
                  :idusuario="usuario"
                  :idorquestra="orquestra.id"
                  @refreshPai="loadObjeto"
                />
                <hr>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Nome</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in orquestra.membros"
                      :key="item.id"
                    >
                      <td>{{item.name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

  </master-template>
</template>
