<script>
import myUpload from 'vue-image-crop-upload'

export default {
  name: 'headerOrquestra',
  props: ['orquestra'],
  components: { myUpload },
  data () {
    return {
      show: false,
      urlBase: process.env.API_URL,
      headers: {
        smail: '*_~',
        Accept: 'application/json',
        Authorization: 'Bearer ' + JSON.parse(localStorage.getItem('user')).token
      },
      imgDataUrl: '' // the datebase64 url of created image
    }
  },
  methods: {
    toggleShow () {
      this.show = !this.show
    },
    cropUploadSuccess (jsonData, field) {
      console.log('-------- upload success --------')
      console.log(jsonData.data.photo)
      this.orquestra.photo = jsonData.data.photo
    },
    cropUploadFail (status, field) {
      console.log('-------- upload fail --------')
      console.log(status)
      console.log('field: ' + field)
    }
  }
}
</script>
<template>
  <div>
    <div class="card card-widget widget-user">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div
        class="widget-user-header text-white"
        style="background: url('/static/dist/img/photo1.png') center center;"
      >
        <h3 class="widget-user-username text-right">{{this.orquestra.name}}</h3>
        <h5 class="widget-user-desc text-right">{{this.orquestra.email}}</h5>
        <h6 class="widget-user-desc text-right">{{this.orquestra.phone}}</h6>
        <h6
          class="widget-user-desc text-right"
          v-show="this.orquestra"
        >{{this.orquestra.codigo}}</h6>
      </div>
      <div class="widget-user-image">
        <img
          class="img-circle"
          :src="this.orquestra.photo || '/static/dist/img/AdminLTELogo.png'"
          alt="Orquestra logo"
          title="Mudar foto"
          @click="toggleShow"
        >
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">32</h5>
              <span class="description-text">MEMBROS</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">13,000</h5>
              <span class="description-text">ARRANJOS</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">135</h5>
              <span class="description-text">EVENTOS</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
    </div>
    <div class="col-md-12">
      <my-upload
        field="imgOrquestra"
        @crop-upload-success="cropUploadSuccess"
        @crop-upload-fail="cropUploadFail"
        v-model="show"
        :url="urlBase+`orquestra/` + this.orquestra.id + `/upload`"
        :width="200"
        :height="200"
        :headers="headers"
        img-format="png"
        langType="pt-br"
      ></my-upload>
    </div>
  </div>

</template>
