<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import PerfilInstrumento from './perfilInstrumento'
import { mapActions } from 'vuex'
import { isNull } from 'lodash'

export default {
  name: 'Membro',
  components: { MasterTemplate, PerfilInstrumento },
  data () {
    return {
      usuario: { id: null, name: '', email: '' },
      perfis: []
    }
  },
  created () {
    this.usuario.id = this.$route.params.id
    if (this.usuario.id) {
      this.loadUsuario(this.usuario.id)
      this.loadPerfis()
    }
  },
  methods: {
    ...mapActions(['attemptLoadUsuario', 'attemptAllPerfis', 'attemptRemoveMembro']),
    loadUsuario (id) {
      this.$loader.show()
      if (!isNull(id)) {
        this.attemptLoadUsuario(id)
          .then(resp => {
            this.usuario = resp
            this.$loader.hide()
          })
          .catch(e => {
            console.log(['orquestra.membro', e])
          })
      }
      this.$loader.hide()
    },
    loadPerfis () {
      this.$loader.show()
      this.attemptAllPerfis(this.usuario.id)
        .then(resp => {
          this.perfis = resp
        })
      this.$loader.hide()
    },
    del (item) {
      this.$loader.show()
      this.attemptRemoveMembro(item.id)
        .then(resp => {
          this.loadPerfis()
        })
      this.$loader.hide()
    }
  }
}
</script>
<template>

  <master-template>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Membro</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">

              <li class="breadcrumb-item">
                <router-link to='/'>Home</router-link>
              </li>

              <li class="breadcrumb-item">
                <router-link to='/orquestra/membros'>Membros</router-link>
              </li>
              <li class="breadcrumb-item active">Membro</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Nome</label>
              <input
                type="text"
                class="form-control"
                placeholder="Junior Santos"
                v-model="usuario.name"
                disabled=""
              >
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>E-mail</label>
              <input
                type="text"
                class="form-control"
                placeholder="jr@mail.com"
                v-model="usuario.email"
                disabled=""
              >
            </div>
          </div>
        </div>

        <hr>
        <PerfilInstrumento
          :idusuario="usuario.id"
          v-on:inserir="loadPerfis"
        />
        <hr>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Perfis vinculado ao usuario</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Perfil</th>
                      <th class="d-none d-sm-table-cell">Dt. Inclusão</th>
                      <th style="width: 40px"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in perfis"
                      :key="item.id"
                    >
                      <td>{{item.role.name}} <span
                          v-if="item.instrumento"
                          class="badge badge-warning mr-1"
                        > {{item.instrumento.name}}</span></td>
                      <td class="d-none d-sm-table-cell">{{item.created_at}}</td>
                      <td><button
                          class="btn btn-sm btn-outline-danger"
                          v-on:click="del(item)"
                        ><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>

          </div>
        </div>
      </div>

    </section>
  </master-template>
</template>
