<script>
import { mapActions, mapGetters } from 'vuex'
import {isEmpty} from 'lodash'

export default {
  name: 'PerfilInstrumento',
  props: ['idusuario', 'idorquestra'],

  data () {
    return {
      role: 0,
      instrumento: 0,
      roles: [],
      instrumentos: []
    }
  },
  created () {
    this.loadInstrumentos()
    this.loadRoles()
  },
  computed: {
    ...mapGetters(['_cInstrumentos', '_cRoles'])
  },
  methods: {
    ...mapActions(['attemptNewMembro', 'attemptAllRoles', 'attemptAllInstrumentos']),
    inserir () {
      this.$loader.show()
      if (this.idusuario) {
        if (this.role === 1 || this.role === 2 || this.role === 0) { this.instrumento = 0 }
        if (this.role === 3 && this.instrumento === 0) { this.role = 0 }

        if (this.role !== 0) {
          this.attemptNewMembro({ usuario: this.idusuario, role: this.role, instrumento: this.instrumento, orquestra: this.idorquestra })
            .then(resp => {
              this.role = 0
              this.instrumento = 0

              this.$emit('refreshPai')

              if (resp.success) {
                this.$swal({
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000,
                  type: 'success',
                  text: resp.message
                })
              } else {
                this.$swal({
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000,
                  type: 'warning',
                  title: 'Ops ...',
                  text: resp.message
                })
              }
            })
        }
      }
      this.$loader.hide()
    },
    loadInstrumentos () {
      this.$loader.show()
      if (!isEmpty(this._cInstrumentos)) {
        this.instrumentos = this._cInstrumentos
      } else {
        this.attemptAllInstrumentos()
          .then(resp => {
            this.instrumentos = resp.data
          })
      }

      this.$loader.hide()
    },
    loadRoles () {
      this.$loader.show()
      if (!isEmpty(this._cRoles)) {
        this.roles = this._cRoles
      } else {
        this.attemptAllRoles()
          .then(resp => {
            this.roles = resp
          })
      }
      this.$loader.hide()
    }
  }
}
</script>
<template>
  <div class="row">
    <div class="col-md-12">
      <label>Inclusão de novo Perfil e Instrumento (musico ou visitante) -</label>
      <div class="input-group">

        <select
          class="form-control"
          v-model="role"
        >
          <option
            disabled
            value="0"
            selected
          >Escolha um perfil</option>
          <option
            v-for="item in roles"
            :key="item.id"
            :value="item.id"
          >
            {{ item.name }}
          </option>

        </select>
        <select
          class="form-control"
          v-if="this.role === 3 || this.role === 4"
          v-model="instrumento"
        >
          <option
            disabled
            value="0"
            selected
          >Escolha um Instrumento</option>
          <option
            v-for="item in instrumentos"
            :key="item.id"
            :value="item.id"
          >
            {{ item.name }}
          </option>
        </select>
        <div class="input-group-append">
          <button
            class="btn btn-success"
            type="button"
            v-on:click="inserir()"
          ><i class="far fa-plus-square"></i></button>
        </div>
      </div>
    </div>

  </div>
</template>
