<script>
import { mapActions } from 'vuex'
export default {
  props: ['lista'],
  mounted () {
    // console.log('aaa', this.lista)
  },
  methods: {
    ...mapActions(['attemptAllUsuarios', 'attemptRemoveMembro']),
    del (item) {
      this.$loader.show()
      this.attemptRemoveMembro(item.id)
        .then(resp => {
          this.refresh()
          this.$loader.hide()
        })
        .catch(e => {
          console.log(['usuarios.mebros', e])
        })
    },
    refresh () {
      this.$emit('refresh') // chama o método pai main.refresh
      this.$emit('doPerfil')
    }
  }
}
</script>
<template>
  <div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Nome</th>
          <th class="d-none d-sm-table-cell">E-mail</th>
          <th class="d-none d-sm-table-cell">Perfil de membro</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in lista"
          :key="item.id"
        >
          <td>{{item.id}}.</td>
          <td>{{item.user.name}}</td>
          <td class="d-none d-sm-table-cell">{{item.user.email}}</td>
          <td class="d-none d-sm-table-cell">{{item.role.name}}{{ (item.instrumento) ? ' :: '+item.instrumento.name : '' }}</td>
          <!-- <td class="d-none d-sm-table-cell">{{item.description}}</td> -->
          <td style="width: 93px">
            <button
              v-on:click="del(item)"
              class="btn btn-sm btn-outline-danger"
            ><i class="fas fa-trash-alt"></i></button>
            <router-link
              :to="{name: 'usuario.editar', params: { id: item.id }}"
              class="btn btn-sm btn-outline-secondary"
            ><i class="far fa-edit"></i></router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
