<script>
import { mapActions } from 'vuex'
export default {
  props: ['lista'],
  methods: {
    ...mapActions(['attemptRemoveUsuario']),
    del (item) {
      this.$loader.show()
      this.attemptRemoveUsuario(item.id)
        .then(resp => {
          this.$emit('refresh') // chama o método pai main.refresh para atualizar a tabela
          if (resp.success) {
            this.$swal({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              type: 'success',
              text: resp.message
            })
          } else {
            this.$swal({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              type: 'warning',
              title: 'Ops ...',
              text: resp.message
            })
          }
        })
        .catch(e => {
          console.log(['usuarios.index', e])
        })
      this.$loader.hide()
    }
  }
}
</script>
<template>
  <div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nome user</th>
          <th class="d-none d-sm-table-cell">E-mail</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in lista"
          :key="item.id"
        >
          <td>{{item.name}}</td>
          <td class="d-none d-sm-table-cell">
            <small><i class="far fa-envelope"></i> {{item.email}}</small>
            <br> <small><i class="fas fa-phone-alt"></i> {{item.phone}}</small></td>
          <td style="width: 93px">
            <button
              v-on:click="del(item)"
              class="btn btn-sm btn-outline-danger"
            ><i class="fas fa-trash-alt"></i></button>
            <router-link
              :to="{name: 'usuario.editar', params: { id: item.id }}"
              class="btn btn-sm btn-outline-secondary"
            ><i class="far fa-edit"></i></router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
