<script>
// import http from '@/http'
import MasterTemplate from '@/components/root/templates/masterTemplate'
import { mapGetters } from 'vuex'

export default {
  name: 'Dashboard',
  components: { MasterTemplate },
  data () {
    return {
      url: process.env.API_FILES
    }
  },
  computed: {
    ...mapGetters(['_cInstrumentos', '_cOrquestras', '_cUsuarios'])
  }
}
</script>

<template>
  <master-template>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Bem vindo</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Home</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{_cOrquestras.length}}</h3>

                <p>Orquestras ativas</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a
                href="#"
                class="small-box-footer"
              >More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <!-- <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{_cOrquestras.length}}<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div> -->
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{_cUsuarios.length}}</h3>

                <p>Usuários registrados</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a
                href="#"
                class="small-box-footer"
              >More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{_cInstrumentos.length}}</h3>

                <p>Instrumentos</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a
                href="#"
                class="small-box-footer"
              >More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- USERS LIST -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Usuários</h3>

                <div class="card-tools">
                  <!-- <span class="badge badge-danger">8 New Members</span> -->
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="collapse"
                  ><i class="fas fa-minus"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-tool"
                    data-card-widget="remove"
                  ><i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <ul class="users-list clearfix">
                  <li
                    v-for="item in _cUsuarios"
                    :key="item.id"
                  >
                    <img
                      v-if="!item.photo"
                      :src="'/static/dist/img/user2-160x160.jpg'"
                      alt="User Image"
                      class="img-circle elevation-2 img-md"
                    >

                    <img
                      v-else
                      :src="url+item.photo"
                      alt="User Image"
                      class="img-circle elevation-2 img-md"
                    >
                    <a
                      class="users-list-name"
                      href="#"
                    >{{item.name}}</a>
                    <span class="users-list-date">{{item.created_at}}</span>
                  </li>

                </ul>
                <!-- /.users-list -->
              </div>
              <!-- /.card-body -->
              <div class="card-footer text-center">
                <a href="javascript::">View All Users</a>
              </div>
              <!-- /.card-footer -->
            </div>
            <!--/.card -->
          </div>
        </div>
      </div>
      <!-- </div> -->
    </section>
    <!-- /.content -->
  </master-template>
</template>
