<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import { mapActions } from 'vuex'
import { isNull } from 'lodash'

export default {
  name: 'fUsuario',
  components: { MasterTemplate },
  data () {
    return {

      isFormMembro: (this.$route.name === 'usuario.musicos.novo'),
      usuario: { id: null, name: '', email: '', dt_nasc: '', sexo: '', phone: '', photo: '', password: '' }
    }
  },
  created () {
    this.usuario.id = this.$route.params.id

    if (this.usuario.id) {
      this.loadObjeto(this.usuario.id)
    }
  },
  methods: {
    ...mapActions(['attemptNewUsuario', 'attemptNewMembro', 'attemptLoadUsuario', 'attemptEditUsuario']),
    doSave () {
      this.$loader.show()

      const usuario = this.usuario
      if (this.usuario.id) {
        if (!this.isFormMembro) {
          this.attemptEditUsuario({ ...usuario })
            .then(resp => {
              if (resp.success) {
                this.$swal({
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000,
                  type: 'success',
                  text: resp.message
                })
              } else {
                this.$swal({
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000,
                  type: 'warning',
                  title: 'Ops ...',
                  text: resp.message
                })
              }
            })
            .catch(e => {
              console.log(['login', e])
            })
        }
      } else {
        if (!this.isFormMembro) {
          this.attemptNewUsuario({ ...usuario })
            .then(resp => {
              this.usuario = resp.data
              this.$router.push('/usuario/form/' + resp.data.id)
              if (resp.success) {
                this.$swal({
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000,
                  type: 'success',
                  text: resp.message
                })
              } else {
                this.$swal({
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000,
                  type: 'warning',
                  title: 'Ops ...',
                  text: resp.message
                })
              }
            })
            .catch(e => {
              console.log(['login', e])
            })
        } else {
          this.attemptNewMembro({ ...usuario })
            .then(() => {
              this.$router.push('/musico/form')
            })
            .catch(e => {
              console.log(['login', e])
            })
        }
      }
      this.$loader.hide()
    },
    loadObjeto (id) {
      if (!isNull(id)) {
        this.$loader.show()
        this.attemptLoadUsuario(id)
          .then(response => {
            this.usuario = response
          })
          .catch(e => {
            console.log(['login', e])
          })
        this.$loader.hide()
      }
    }
  }
}
</script>

<template>
  <master-template>

     <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Usuário</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">
                <router-link to='/usuario'>Usuários</router-link>
              </li>
              <li class="breadcrumb-item active">{{usuario.id ? 'Editar' : 'Criar'}}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{usuario.id ? 'Alterar' : 'Registrar'}}</h3>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="usuario.name">Nome</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="usuario.name"
                        placeholder="Nome"
                      >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="usuario.name">Dt. Nascimento</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="usuario.dt_nasc"
                        placeholder="15/03/1800"
                        v-mask="'##/##/####'"
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="usuario.email">E-mail</label>
                      <input
                        type="email"
                        class="form-control"
                        v-model="usuario.email"
                        placeholder="E-mail"
                      >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="usuario.phone">Telefone</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="usuario.phone"
                        placeholder="Telefone"
                        v-mask="'(##) #####-####'"
                      >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="usuario.sexo">Sexo</label>
                      <select
                        v-model="usuario.sexo"
                        class="form-control"
                      >
                        <option
                          disabled
                          value=""
                        >Escolha uma opção</option>
                        <option value="F">Feminino</option>
                        <option value="M">Masculino</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <button
                  v-on:click="doSave()"
                  type="submit"
                  class="btn btn-primary"
                >{{usuario.id ? 'Alterar' : 'Registrar'}}</button>
              </div>

            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

  </master-template>
</template>
