<script>
import { mapActions } from 'vuex'
import { isNull } from 'lodash'

export default {
  name: 'fUsuarioProfile',
  props: ['usuarioId'],
  data () {
    return {
      titulo: 'Usuario',
      usuario: { id: null, name: '', email: '', dt_nasc: '', sexo: '', phone: '', photo: '', password: '' }
    }
  },
  created () {
    if (this.usuarioId) {
      this.loadObjeto(this.usuarioId)
    }
  },
  methods: {
    ...mapActions(['attemptLoadUsuario', 'attemptEditUsuario']),
    doSave () {
      this.$loader.show()
      const usuario = this.usuario
      if (this.usuario.id) {
        this.attemptEditUsuario({ ...usuario })
          .then(resp => {
            if (resp.success) {
              this.$swal({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                type: 'success',
                // title: 'Hi man',
                timerProgressBar: true,
                text: resp.message
              })
            }
          })
          .catch(e => {
            console.log(['login', e])
          })

        this.$loader.hide()
      }
    },
    loadObjeto (id) {
      if (!isNull(id)) {
        this.$loader.show()
        this.attemptLoadUsuario(id)
          .then(response => {
            this.usuario = response
            this.$loader.hide()
          })
          .catch(e => {
            console.log(['login', e])
          })
        this.$loader.hide()
      }
    }
  }
}
</script>

<template>
  <div>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">

              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="usuario.name">Nome</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="usuario.name"
                        placeholder="Nome"
                      >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="usuario.name">Dt. Nascimento</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="usuario.dt_nasc"
                        placeholder="15/03/1800"
                        v-mask="'##/##/####'"
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="usuario.email">E-mail</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="usuario.email"
                        placeholder="E-mail"
                      >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="usuario.phone">Telefone</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="usuario.phone"
                        placeholder="Telefone"
                        v-mask="'(##) #####-####'"
                      >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="usuario.sexo">Sexo</label>
                      <select
                        v-model="usuario.sexo"
                        class="form-control"
                      >
                        <option
                          disabled
                          value=""
                        >Escolha uma tonalidade</option>
                        <option value="F">Feminino</option>
                        <option value="M">Masculino</option>
                      </select>
                    </div>
                  </div>

                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button
                  v-on:click="doSave()"
                  type="submit"
                  class="btn btn-primary"
                >{{usuario.id ? 'Alterar' : 'Registrar'}}</button>
              </div>

            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

  </div>
</template>
