<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import { mapActions, mapGetters } from 'vuex'
import Select2 from 'v-select2-component'
import {isEmpty} from 'lodash'

export default {
  name: 'fMusica',
  components: { MasterTemplate, Select2 },
  data () {
    return {
      tamanho: 'col-md-12',
      musica: { id: null, name: '', tonality: '', composer: '', letter: '', audio: '' },
      partituras: [],
      files: null,
      instrumentos: [],
      myInstrumentos: []
    }
  },
  computed: {
    ...mapGetters(['_cInstrumentos'])
  },
  created () {
    this.musica.id = this.$route.params.id
    if (this.musica.id) {
      this.load()
      this.tamanho = 'col-md-6'
    }
  },
  methods: {
    ...mapActions(['attemptNewMusica', 'attemptLoadMusica', 'attemptEditMusica', 'attemptAllInstrumentos', 'attemptNewPartitura', 'attemptAllPartituras', 'attemptDownloadPartitura', 'attemptRemovePartitura']),
    doSave () {
      this.$loader.show()

      const musica = this.musica
      if (this.musica.id) {
        this.attemptEditMusica({ ...musica })
          .catch(e => {
            console.log(['login', e])
          })
      } else {
        this.attemptNewMusica({ ...musica })
          .then(resp => {
            this.tamanho = 'col-md-6'
            this.$router.push('/musica/form/' + resp.data.musica.id)
            this.musica = resp.data.musica
          })
          .catch(e => {
            console.log(['login', e])
          })
      }
      this.$loader.hide()
    },
    load () {
      if (this.musica.id) {
        this.tamanho = 'col-md-6'
        this.$loader.show()
        this.attemptLoadMusica(this.musica.id)
          .then(data => {
            this.musica = data.musica
            this.partituras = data.partituras
            this.$loader.hide()
          })
          .catch(e => {
            console.log(['login', e])
          })

        // carrega os intrumentos
        if (isEmpty(this._cInstrumentos)) {
          this.attemptAllInstrumentos()
            .then(() => {
              let nArr = []
              this._cInstrumentos.forEach(function (item, index, arr) {
                nArr[index] = { id: item.id, text: item.name }
              })
              this.instrumentos = nArr
            })
        } else {
          let nArr = []
          this._cInstrumentos.forEach(function (item, index, arr) {
            nArr[index] = { id: item.id, text: item.name }
          })
          this.instrumentos = nArr
        }

        let nArr = []
        this._cInstrumentos.forEach(function (item, index, arr) {
          nArr[index] = { id: item.id, text: item.name }
        })
        this.instrumentos = nArr

        this.$loader.hide()
      }
    },
    handleFileUpload () {
      this.files = this.$refs.files.files[0]
    },
    enviarPartitura () {
      let formData = new FormData()

      formData.append('file', this.files)
      formData.append('instrumentos', JSON.stringify(this.myInstrumentos))
      formData.append('musica', JSON.stringify(this.musica))

      this.attemptNewPartitura({ formData })
        .then(data => {
          this.partituras = data.data
          // this.load()
          this.files = null
          this.myInstrumentos = []
          this.$loader.hide()
        })
        .catch(e => {
          console.log(['login', e])
        })
    },
    onDownload (partitura) {
      this.attemptDownloadPartitura(partitura.id)
        .then((resp) => {
          const linkSource = `data:application/pdf;base64,${resp}`
          const downloadLink = document.createElement('a')
          let fileName = this.musica.name + '-' + this.musica.composer

          partitura.instrumentos.forEach(instrumento => {
            fileName = fileName + '_' + instrumento.name.replace(' ', '')
          })

          fileName = fileName + '.pdf'
          downloadLink.href = linkSource
          downloadLink.download = fileName
          downloadLink.click()
        })
    },
    del (partitura) {
      this.$loader.show()
      this.attemptRemovePartitura(partitura.id)
        .then(data => {
          this.partituras = data.data
          this.$loader.hide()
        })
        .catch(e => {
          console.log(['musicas.index', e])
        })
    }
  }
}
</script>

<template>
  <master-template>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Música</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">
                <router-link to='/musicas'>Músicas</router-link>
              </li>
              <li class="breadcrumb-item active">{{musica.id ? 'Editar' : 'Criar'}}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div :class="tamanho">
            <!-- general form elements -->
            <div class="card card-primary">

              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="name">Nome</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="musica.name"
                        placeholder="Nome"
                      >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="tonality">Tonalidade</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="musica.tonality"
                        placeholder="Cm"
                      >
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="composer">Compositor</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="musica.composer"
                        placeholder="Compositor"
                      >
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="letter">Letra</label>
                      <textarea
                        class="form-control"
                        v-model="musica.letter"
                        rows="10"
                        placeholder="Letra ..."
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <button
                  v-on:click="doSave()"
                  type="submit"
                  class="btn btn-primary"
                >{{musica.id ? 'Alterar' : 'Registrar'}}</button>
              </div>

            </div>
          </div>
          <div
            class="col-md-6"
            v-if="this.musica.id"
          >
            <!-- general form elements disabled -->
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Partituras</h3>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="name">Instrumentos</label>
                    <Select2
                      v-model="myInstrumentos"
                      :options="instrumentos"
                      style="width: 100%;"
                      :settings="{ multiple: true, placeholder: 'Selecione um ou mais instrumentos', dropdownCssClass: 'select2 select2-danger' }"
                    />

                  </div>
                </div>
                <div class="col-md-12">
                  <div
                    class="form-group"
                    v-if="musica.id"
                  >
                    <label for="exampleInputFile">Arquivo da partitura .pdf</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input
                          type="file"
                          id="files"
                          ref="files"
                          accept="application/pdf"
                          class="custom-file-input"
                          v-on:change="handleFileUpload()"
                        >
                        <label
                          class="custom-file-label"
                          for="exampleInputFile"
                        >Escolher arquivo</label>
                      </div>
                      <div class="input-group-append">
                        <button
                          class="btn btn-primary"
                          v-on:click="enviarPartitura()"
                          v-show="files !== null"
                        >Enviar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="card">

                  <div class="card-body p-0">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Instrumento</th>
                          <th style="width: 40px">Partitura</th>
                        </tr>
                      </thead>
                      <tbody>

                        <tr
                          v-for="partitura in partituras"
                          :key="partitura.id"
                        >
                          <td>
                            <span
                              class="badge badge-warning mr-1"
                              v-for="instrumento in partitura.instrumentos"
                              :key="instrumento.id"
                            >{{instrumento.name}}</span>
                          </td>
                          <td>
                            <button
                              type="button"
                              class="btn btn-info btn-sm"
                              @click="onDownload(partitura)"
                            ><i class="fas fa-paperclip"></i></button>
                            <button
                              v-on:click="del(partitura)"
                              class="btn btn-sm btn-danger"
                            ><i class="fas fa-trash-alt"></i></button></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

  </master-template>
</template>
