<template>
  <login-template>
    <login />
  </login-template>
</template>

<script>
import Login from './forms/Login'
import LoginTemplate from '@/components/root/templates/loginTemplate'

export default {
  name: 'auth',
  components: { Login, LoginTemplate }
}
</script>
