<script>
import { mapActions, mapGetters } from 'vuex'
import { isEmpty } from 'lodash'

export default {
  name: 'fLogin',
  data () {
    return {
      user: {
        email: 'jr@mail.com',
        password: '123123'
      }
    }
  },
  computed: {
    ...mapGetters(['_isAdmin', '_isAdminOrquestra']),
    isValid () {
      const user = this.user
      return !isEmpty(user.email) && !isEmpty(user.password)
    }
  },
  methods: {
    ...mapActions(['attemptLogin']),
    doLogin () {
      this.$loader.show()
      const user = this.user
      this.attemptLogin({ ...user })
        .then(resp => {
          if (resp.success) {
            if (this._isAdmin) {
              this.$router.push('/dashboard')
            } else if (this._isAdminOrquestra) {
              this.$router.push('/')
            } else {
              this.$router.push('/usuario/solicitacoes')
            }

            this.$swal({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              type: 'success',
              text: resp.message
            })
          } else {
            this.$swal({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              type: 'warning',
              title: 'Ops ...',
              text: resp.message
            })
          }
        })
        .catch(e => {
          console.log(['login', e])
        })
      this.$loader.hide()
    }
  }

}
</script>
<template>
  <div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href=""><b>SG</b>OHC</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Faça login para iniciar sua sessão</p>

          <form @submit.prevent="doLogin">
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="E-mail"
                v-model="user.email"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Senha"
                v-model="user.password"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input
                    type="checkbox"
                    id="remember"
                  >
                  <label for="remember">
                    Remember Me
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button
                  type="submit"
                  class="btn btn-primary btn-block btn-flat"
                  :disabled="!isValid"
                >Acessar</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <p class="mb-1">
            <a href="#">Esqueci a minha senha</a>
          </p>
          <router-link
            to="/registro"
            tag="p"
            class="mb-0"
          >
            <a class="text-center">Novo por aqui? Inscreva-se agora »</a>

          </router-link>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
  </div>
</template>
