<script>
import { mapActions } from 'vuex'
import { isEmpty } from 'lodash'

export default {
  name: 'Registro',
  data () {
    return {
      // usuario: { id: null, name: '', email: '', dt_nasc: '', sexo: '', phone: '', photo: '', password: '', password_confirmation: '' }
      usuario: { id: null, name: 'Paulo de Sousa Santos', email: Date.now() + '@mail.com', dt_nasc: '30/04/1978', sexo: 'M', phone: '(69) 99227-7768', photo: '', password: '123123', password_confirmation: '123123' }
    }
  },
  methods: {
    ...mapActions(['attemptRegistro']),
    doCadastro () {
      this.$loader.show()
      const usuario = this.usuario
      this.attemptRegistro({ ...usuario })
        .then(resp => {
          if (resp.success) {
            this.$router.push('/')
            this.$swal({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              type: 'success',
              text: resp.message
            })
          } else {
            this.$swal({
              toast: true,
              position: 'top-end',
              showConfirmButton: false,
              timer: 3000,
              type: 'warning',
              title: 'Ops ...',
              text: resp.message
            })
          }
        })
        .catch(e => {
          console.log(['registro', e])
        })
      this.$loader.hide()
    }
  },
  computed: {
    isValid () {
      const usuario = this.usuario
      return !isEmpty(usuario.name) && !isEmpty(usuario.email) && (usuario.agreeTerms) &&
        (usuario.password === usuario.password_confirmation) && !isEmpty(usuario.password)
    }
  }

}
</script>
<template>
  <div class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <a href=""><b>SG</b>OHC</a>
      </div>

      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Criar sua conta</p>

          <form @submit.prevent="doCadastro">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Nome completo"
                v-model="usuario.name"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                v-model="usuario.email"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <select
                v-model="usuario.sexo"
                class="form-control"
              >
                <option
                  disabled
                  value=""
                >Escolha uma opção</option>
                <option value="F">Feminino</option>
                <option value="M">Masculino</option>
              </select>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-restroom"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                v-model="usuario.dt_nasc"
                placeholder="15/03/1800"
                v-mask="'##/##/####'"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="far fa-calendar-alt"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                v-model="usuario.phone"
                placeholder="Telefone"
                v-mask="'(##) #####-####'"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-phone"></span>
                </div>
              </div>
            </div>
            <hr>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Senha"
                v-model="usuario.password"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Confirme a senha"
                v-model="usuario.password_confirmation"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input
                    type="checkbox"
                    id="agreeTerms"
                    name="terms"
                    value="agree"
                    v-model="usuario.agreeTerms"
                  >
                  <label for="agreeTerms">
                    Li e concordo com <a href="#">termos</a>
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button
                  type="submit"
                  class="btn btn-primary btn-block btn-flat"
                  :disabled="!isValid"
                >Registrar</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <router-link
            to="/auth"
            tag="p"
            class="mb-0"
          >
            <a class="text-center">Ops, Já tenho uma conta</a>

          </router-link>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
  </div>
</template>
