<script>
import { mapGetters } from 'vuex'

export default {
  name: 'AsideJr',
  data () {
    return {
      isOpenUser: false
    }
  },
  computed: {
    ...mapGetters(['_isLogged', '_cUser', '_isAdmin', '_cPerfil', '_isAdminOrquestra',
      '_isMusico', '_cInstrumentos', '_cMusicas', '_cMembros', '_isMaestro',
      '_cOrquestras', '_cUsuarios']),
    foto: function () {
      return '/static/dist/img/AdminLTELogo.png'
    },
    sigla: function () {
      return (this._cPerfil.orquestra) ? this._cPerfil.orquestra.acronyms : 'OHC'
    }

  }
}
</script>

<template>
  <aside
    class="main-sidebar sidebar-dark-primary elevation-4"
    v-if="_isLogged"
  >
    <router-link
      to="/"
      class="brand-link"
    >
      <img
        :src="foto || '/static/dist/img/AdminLTELogo.png'"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: .8"
      >
      <span class="brand-text font-weight-light">SG <b>{{ sigla || 'OHC'}}</b></span>
    </router-link>

    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img
            :src="_cUser.photo||'/static/dist/img/user2-160x160.jpg'"
            class="img-circle elevation-2"
            alt="User Image"
          >
        </div>
        <div class="info">
          <router-link
            :to="{name: 'usuario.perfil', params: { id: _cUser.id }}"
            class="d-block"
          >{{ _cUser.name }}</router-link>
        </div>

      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <router-link
            to="/dashboard"
            tag="li"
            class="nav-item"
            v-if="_isAdmin"
          >
            <a class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </router-link>

          <li
            class="nav-header"
            v-if="_isAdmin"
          >ADMINISTRADOR GERAL</li>

          <router-link
            to="/orquestra"
            tag="li"
            class="nav-item"
            v-if="_isAdmin"
          >
            <a class="nav-link">
              <i class="nav-icon fas fa-users-cog"></i>
              <p>
                Orquestras
                <span class="right badge badge-info ">{{_cOrquestras.length}}</span>
              </p>
            </a>
          </router-link>
          <!-- <router-link
            to="/partitura"
            tag="li"
            class="nav-item"
            v-if="_isAdmin"
          >
            <a class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Partituras
                <span class="right badge badge-info ">6</span>
              </p>
            </a>
          </router-link> -->
          <!-- <router-link
            to="/musica"
            tag="li"
            class="nav-item"
            v-if="_isAdmin"
          >
            <a class="nav-link">
              <i class="nav-icon fas fa-music"></i>
              <p>
                Musicas
                <span class="right badge badge-info ">6</span>
              </p>
            </a>
          </router-link> -->
          <!-- <li
            class="nav-item"
            v-if="_isAdmin"
          >
            <a class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Calendar
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li> -->
          <router-link
            to="/instrumento"
            tag="li"
            class="nav-item"
            v-if="_isAdmin"
          >
            <a class="nav-link">
              <!-- <i class="nav-icon fas fa-th"></i> -->
              <i class="nav-icon fas fa-drum"></i>
              <p>
                Instrumentos
                <span class="right badge badge-info ">{{_cInstrumentos.length}}</span>
              </p>
            </a>
          </router-link>
          <router-link
            to="/usuario"
            tag="li"
            class="nav-item"
            v-if="_isAdmin"
          >
            <a class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Usuários
                <span class="right badge badge-info ">{{_cUsuarios.length}}</span>
              </p>
            </a>
          </router-link>

          <li
            class="nav-header"
            v-if="_isAdminOrquestra"
          >ADMINISTRADOR (orquestra)</li>
          <router-link
            to="/orquestra/membros"
            tag="li"
            class="nav-item"
            v-if="_isAdminOrquestra"
          >
            <a class="nav-link">
              <i class="nav-icon fas fa-robot"></i>
              <p>
                Membros
                <span class="right badge badge-info ">{{_cMembros.length}}</span>
              </p>
            </a>
          </router-link>

          <router-link
            to="/musicas"
            tag="li"
            class="nav-item"
            v-if="_isAdminOrquestra || _isMaestro"
          >
            <a class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Musicas (arranjos)
                <span class="right badge badge-info ">{{this._cMusicas.length}}</span>
              </p>
            </a>
          </router-link>
          <router-link
            to="/eventos"
            tag="li"
            class="nav-item"
            v-if="_isAdminOrquestra || _isMaestro"
          >
            <a class="nav-link">
              <i class="nav-icon fas fa-glass-cheers"></i>
              <p>
                Eventos
                <span class="right badge badge-info ">6</span>
              </p>
            </a>
          </router-link>

          <li
            class="nav-header"
            v-if="_isMusico"
          >MÚSICOS</li>
          <li
            class="nav-item"
            v-if="_isMusico"
          >
            <a
              href="/"
              class="nav-link"
            >
              <i class="nav-icon fas fa-file"></i>
              <p>Biblioteca</p>
            </a>
          </li>
          <li
            class="nav-item"
            v-if="_isMusico"
          >
            <a
              href="/"
              class="nav-link"
            >
              <i class="nav-icon fas fa-birthday-cake"></i>
              <p>Aniversariantes</p>
            </a>
          </li>

          <router-link
            v-if="!_isAdminOrquestra && !_isAdmin && !_isMaestro"
            to="/usuario/solicitacoes"
            tag="li"
            class="nav-item"
          >
            <a class="nav-link">
              <i class="nav-icon fas fa-check-double"></i>
              <p>
                Solicitações
                <span class="right badge badge-info ">6</span>
              </p>
            </a>
          </router-link>

          <router-link
            v-if="_isAdminOrquestra"
            to="/orquestra/solicitacoes"
            tag="li"
            class="nav-item"
          >
            <a class="nav-link">
              <i class="nav-icon fas fa-check-double"></i>
              <p>
                Solicitações
                <span class="right badge badge-info ">6</span>
              </p>
            </a>
          </router-link>

          <router-link
            v-if="_isAdminOrquestra"
            :to="'/orquestra/form/' + _cPerfil.orquestra_id"
            tag="li"
            class="nav-item"
          >
            <a class="nav-link">
              <i class="nav-icon fas fa-users-cog"></i>
              <p>
                Orquestra
              </p>
            </a>
          </router-link>
        </ul>
      </nav>

      <nav class="mt-3 d-flex fixed-bottom">
        <ul
          class="nav nav-pills nav-sidebar float-right "
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-item">
            <a
              class="nav-link "
              data-widget="pushmenu"
              href="#"
            >
              <i class="fas fa-bars"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</template>
