<script>
export default {
  name: 'Footer'
}
</script>
<template>
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 2.0.0-rc.3
    </div>
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">SG-OHC</a>.</strong> Todos os direitos reservados.
  </footer>
</template>
