<script>
import { mapGetters, mapActions } from 'vuex'
import Perfil from './perfil'

export default {
  name: 'Header',
  components: { Perfil },
  computed: {
    ...mapGetters(['_isLogged', '_cUser', '_isAdmin'])
  },
  methods: {
    ...mapActions(['attemptLogoff']),
    doLogout () {
      this.attemptLogoff()
        .then(() => {
          this.$router.push('/auth')
        })
        .catch(e => {
          console.log(['logoff', e])
          alert('Erro! Tente novamente mais tarde!')
        })
    }
  }
}
</script>

<template>
  <nav
    class="main-header navbar navbar-expand navbar-white navbar-light"
    v-if="_isLogged"
  >
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          data-widget="pushmenu"
          href="#"
        ><i class="fas fa-bars"></i></a>
      </li>

      <router-link
        :to="{ name: 'evento.calendario' }"
        tag="li"
        exact
        class="nav-item d-none d-sm-inline-block"
        v-if="!_isAdmin"
      ><a
          href="#"
          class="nav-link"
        >Agenda</a></router-link>

      <router-link
        to="/auth"
        tag="li"
        class="nav-item d-none d-sm-inline-block"
        v-if="!_isLogged"
      ><a
          href="#"
          class="nav-link"
        >Entrar</a></router-link>

    </ul>

    <!-- SEARCH FORM -->
    <!-- <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input
          class="form-control form-control-navbar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        >
        <div class="input-group-append">
          <button
            class="btn btn-navbar"
            type="submit"
          >
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form> -->

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li>
        <perfil />
      </li>
      <li
        v-if="_isLogged"
        class="nav-item d-none d-sm-inline-block"
      >
        <a
          @click="doLogout"
          style="cursor:pointer"
          class="nav-link"
        ><i class="fas fa-power-off"></i> </a>
      </li>
    </ul>
  </nav>
</template>
