<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'fPerfil',
  data () {
    return {
      perfilSelecionado: null,
      perfis: []
    }
  },
  computed: {
    ...mapGetters(['_cUser', '_cPerfil', '_allPerfis', '_isAdmin'])
  },
  created () {
    this.perfis = this._allPerfis
  },
  methods: {
    ...mapActions(['attemptPerfil']),
    doPerfil (event) {
      // this.$loader.show()
      const perfil = parseInt(event.target.value)

      this.attemptPerfil(perfil)
        .then(() => {
          if (this._isAdmin) {
            this.$router.push({ name: 'dashboard.main' }, undefined, () => { location.href = this.$route.hash })
          } else {
            this.$router.push({ name: 'evento.calendario' }, undefined, () => { location.href = this.$route.hash })
          }
          this.$loader.hide()
        })
        .catch(e => {
          console.log(['login', e])
        })
    }
  }
}
</script>
<template>
  <div>
    <select
      class="form-control"
      @change="doPerfil($event)"
      :value="((this._cPerfil) ? this._cPerfil.id : 1)"
    >
      <option
        v-for="item in perfis"
        :key="item.id"
        :value="item.id"
      >
        {{ (item.orquestra) ? item.orquestra.name + ' :: ': '' }} {{ item.role.name }} {{ (item.instrumento) ? ' :: ' + item.instrumento.name : ''}}
      </option>
    </select>
  </div>
</template>
