<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Orquestra',
  components: { MasterTemplate },
  data () {
    return {
      orquestras: []
    }
  },
  computed: {
    ...mapGetters(['_isAdmin'])
  },
  mounted () {
    if (this._isAdmin) { this.refresh() } else {
      this.$router.push('/')
    }
  },
  methods: {
    ...mapActions(['attemptAllOrquestras', 'attemptRemoveOrquestra']),
    refresh () {
      this.$loader.show()
      this.attemptAllOrquestras().then(data => {
        this.orquestras = data
        this.$loader.hide()
      })
    },
    del (item) {
      this.$loader.show()
      this.attemptRemoveOrquestra(item.id)
        .then(data => {
          this.refresh()
          this.$loader.hide()
        })
        .catch(e => {
          console.log(['orquestras.index', e])
        })
    }
  }
}
</script>

<template>
  <master-template>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>Orquestras</h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Home</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div
                  class="input-group input-group-sm card-title"
                  style="width: 230px"
                >
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Pesquisa"
                  >
                  <div class="input-group-append">
                    <button
                      type="submit"
                      class="btn btn-default"
                    ><i class="fas fa-search"></i></button></div>
                </div>
                <div class="card-tools">
                  <div class="btn-group">
                    <router-link
                      :to="{name: 'orquestra.novo'}"
                      class="btn btn-default"
                      title="Novo item"
                    >
                      <i class="nav-icon far fa-plus-square"></i>
                    </router-link>
                    <button
                      v-on:click="refresh()"
                      class="btn btn-default d-none d-sm-table-cell"
                      title="Atualizar lista"
                    ><i class="fas fa-sync-alt"></i></button>
                    <router-link
                      :to="{name: ''}"
                      class="btn btn-default "
                      title="Itens removidos"
                    >
                      <i class="fas fa-recycle"></i>
                    </router-link>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th class="d-none d-sm-table-cell">Contatos</th>
                      <th class="d-none d-sm-table-cell">Código</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in orquestras.data"
                      :key="item.id"
                    >

                      <td>{{item.acronyms}} - {{item.name}}</td>
                      <td class="d-none d-sm-table-cell">
                        <small><i class="far fa-envelope"></i> {{item.email}}</small>
                        <br> <small><i class="fas fa-phone-alt"></i> {{item.phone}}</small></td>
                      <td class="d-none d-sm-table-cell">{{item.codigo}}</td>
                      <td style="width: 93px">
                        <button
                          v-on:click="del(item)"
                          class="btn btn-sm btn-outline-danger"
                        ><i class="fas fa-trash-alt"></i></button>
                        <router-link
                          :to="{name: 'orquestra.editar', params: { id: item.id }}"
                          class="btn btn-sm btn-outline-secondary"
                        ><i class="far fa-edit"></i></router-link>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >&laquo;</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >1</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >2</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >3</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>

    </section>

  </master-template>
</template>
