<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import { mapActions, mapGetters } from 'vuex'
export default {

  name: 'Membros',
  components: { MasterTemplate },
  props: ['lista'],
  computed: {
    ...mapGetters(['_cMembros'])
  },
  mounted () {
    this.attemptAllMembros().then(resp => {
      this.titulo = 'Membros da orquestra'
      this.membros = resp
      this.$loader.hide()
    })
  },
  data: function () {
    return {
      membros: []
    }
  },
  methods: {
    ...mapActions(['attemptAllUsuarios', 'attemptRemoveMembro', 'attemptAllMembros']),
    del (item) {
      this.$loader.show()
      this.attemptRemoveMembro(item.id)
        .then(resp => {
          this.refresh()
          this.$loader.hide()
        })
        .catch(e => {
          console.log(['usuarios.mebros', e])
        })
    },
    refresh () {
      // this.$emit('refresh') // chama o método pai main.refresh
      this.$emit('doPerfil')
    }
  }
}
</script>
<template>
  <master-template>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Membros da orquestra</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <router-link to='/'>Home</router-link>
              </li>
              <li class="breadcrumb-item active">Membros</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div
                  class="input-group input-group-sm card-title"
                  style="width: 230px"
                >
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Pesquisa"
                  >
                  <div class="input-group-append">
                    <button
                      type="submit"
                      class="btn btn-default"
                    ><i class="fas fa-search"></i></button></div>
                </div>
                <div class="card-tools">
                  <div class="btn-group">
                    <router-link
                      :to="{name: 'instrumento.novo'}"
                      class="btn btn-default"
                      title="Novo item"
                    >
                      <i class="nav-icon far fa-plus-square"></i>
                    </router-link>
                    <button
                      v-on:click="refresh()"
                      class="btn btn-default d-none d-sm-table-cell"
                      title="Atualizar lista"
                    ><i class="fas fa-sync-alt"></i></button>
                    <router-link
                      :to="{name: 'instrumento.removidos'}"
                      class="btn btn-default "
                      title="Itens removidos"
                    >
                      <i class="fas fa-recycle"></i>
                    </router-link>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Nome</th>
                      <th class="d-none d-sm-table-cell">E-mail</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in _cMembros"
                      :key="item.id"
                    >
                      <td>{{item.id}}.</td>
                      <td>{{item.name}}</td>
                      <td class="d-none d-sm-table-cell">{{item.email}}</td>
                      <td style="width: 93px">
                        <button
                          v-on:click="del(item)"
                          class="btn btn-sm btn-outline-danger"
                        ><i class="fas fa-trash-alt"></i></button>
                        <router-link
                          :to="{name: 'orquestra.membro.edit', params: { id: item.id }}"
                          class="btn btn-sm btn-outline-secondary"
                        ><i class="far fa-edit"></i></router-link>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >&laquo;</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >1</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >2</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >3</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
  </master-template>
</template>
