<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'Solicitacoes',
  components: { MasterTemplate },
  data () {
    return {
      solicitacoes: [],
      codigo: null

    }
  },
  mounted () {
    this.load()
  },
  methods: {
    ...mapActions(['attemptAllSolicitacoesOrquestra', 'attemptRecusarSolicitacao', 'attemptAceitarSolicitacao']),
    load () {
      this.$loader.show()
      this.attemptAllSolicitacoesOrquestra()
        .then(resp => {
          this.solicitacoes = resp.data.solicitacoes.data
        })
      this.$loader.hide()
    },
    doSolicitar () {
      console.log(this.codigo)
      // criar a solicitacao
    },
    cancelar (item) {
      this.$loader.show()
      this.attemptRecusarSolicitacao(item.id)
        .then(resp => {
          this.load()
        })
        .catch(e => {
          console.log(['usuarios.mebros', e])
        })
      this.$loader.hide()
    },
    aceitar (item) {
      this.$loader.show()
      this.attemptAceitarSolicitacao(item.id)
        .then(resp => {
          this.load()
        })
        .catch(e => {
          console.log(['usuarios.mebros', e])
        })
      this.$loader.hide()
    }
  },
  computed: {
    ...mapGetters(['_isAdminOrquestra'])
  }

}
</script>
<template>

  <master-template>
    <section class="content">
      <div class="container-fluid">
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="codigo" v-if="!_isAdminOrquestra">Solicitações (digite o codigo da orquestra)</label>
              <label for="codigo" v-else>Solicitações (digite o e-mail para enviar a solicitação)</label>
              <div class="input-group input-group-sm">

                <input
                  type="text"
                  class="form-control"
                  v-model="codigo"
                >
                <span class="input-group-append">
                  <button
                    type="button"
                    v-on:click="doSolicitar()"
                    class="btn btn-info btn-flat"
                  >Enviar pedido</button>
                </span>
              </div>

            </div>
          </div>
        </div> -->
        <hr>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Solicitações</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Usuário</th>
                  <th class="d-none d-sm-table-cell">Data</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>

                <tr
                  v-for="item in solicitacoes"
                  :key="item.id"
                >
                  <td>{{item.usuario.name}}</td>
                  <td class="d-none d-sm-table-cell">{{item.created_at}}</td>
                  <td >
                    <span
                      v-if="item.status === 'CANCELADO' || item.status === 'RECUSADO'"
                      class="badge bg-danger"
                    >{{item.status}}</span>
                    <span
                      v-if="item.status === 'PENDENTE'"
                      class="badge bg-warning"
                    >{{item.status}}</span>
                    <span
                      v-if="item.status === 'ACEITO'"
                      class="badge bg-success"
                    >{{item.status}}</span>
                  </td>
                  <td style="width: 100px">
                    <button
                      v-if="item.status !== 'CANCELADO' && item.status !== 'ACEITO' && item.status !== 'RECUSADO'"
                      v-on:click="aceitar(item)"
                      class="btn btn-sm btn-outline-success"
                    ><i class="far fa-check-square"></i></button>
                    <button
                      v-if="item.status !== 'CANCELADO' && item.status !== 'ACEITO' && item.status !== 'RECUSADO'"
                      v-on:click="cancelar(item)"
                      class="btn btn-sm btn-outline-danger"
                    ><i class="fas fa-trash-alt"></i></button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </section>

  </master-template>
</template>
