
<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import bootstrapPlugin from '@fullcalendar/bootstrap'
import { mapActions, mapGetters } from 'vuex'
import { ModalPlugin, CollapsePlugin } from 'bootstrap-vue'
import { saveAs } from 'file-saver'

export default {
  name: 'Calendario',
  components: { MasterTemplate, FullCalendar, ModalPlugin, CollapsePlugin },
  data () {
    return {
      calendarPlugins: [dayGridPlugin, timeGridPlugin, interactionPlugin, bootstrapPlugin],
      themeSystem: 'bootstrap',
      eventos: [],
      musicas: [],
      partituras: [],
      text: '',
      eSel: null,
      arranjo: null,
      urlUploads: process.env.API_FILES
    }
  },
  created () {
    this.load()
  },
  computed: {
    ...mapGetters(['_cPerfil', '_isAdminOrquestra', '_isMusico'])

  },
  methods: {
    ...mapActions(['attemptAllEventos', 'attemptAllMusicasEvento', 'attemptAllPartituras', 'attemptPdfEvento', 'attemptPdfEventoInstrumento']),

    onEventClick (arg) {
      this.eSel = { id: arg.event.id, title: arg.event.title, text: arg.event.start }
      this.$bvModal.show('bv-modal-example')
      this.attemptAllMusicasEvento(arg.event.id)
        .then(data => {
          this.musicas = data.musicas
        })
        .catch(e => {
          console.log(['login', e])
        })
      this.$loader.hide()
    },
    load () {
      this.$loader.show()

      this.attemptAllEventos().then(data => {
        data.data.forEach(element => {
          let date = element.dt_evento.split('/')
          let time = element.horario.split(':')
          let nDate = new Date(date[2], date[1] - 1, date[0], time[0], time[1])

          this.eventos.push({
            id: element.id,
            title: element.name,
            start: nDate,
            allDay: false
            // backgroundColor: cor,
            // borderColor: cor
          })
        })
      })
      this.$loader.hide()
    },
    loadPartituras (musicaId) {
      this.$loader.show()
      this.attemptAllPartituras(musicaId)
        .then(data => {
          this.partituras = data.data
        })
        .catch(e => {
          console.log(['login', e])
        })
      this.$loader.hide()
    },
    download (item) {
      this.$loader.show()
      if (this._isMusico) {
        this.attemptPdfEventoInstrumento({ evento: item.id, instrumento: this._cPerfil.instrumento_id })
          .then(data => {
            saveAs('data:application/pdf;base64,' + data, this.eSel.id + ' ' + this.eSel.title + '-' + this._cPerfil.instrumento.name + '.pdf', 'application/pdf')
            this.arranjo = data
          })
          .catch(e => {
            console.log(['login', e])
          })
        this.$loader.hide()
      } else if (this._isAdminOrquestra) {
        this.attemptPdfEvento(item.id)
          .then(data => {
            saveAs('data:application/pdf;base64,' + data, this.eSel.title + '.pdf', 'application/pdf')
            this.arranjo = data
            this.$loader.hide()
          })
          .catch(e => {
            console.log(['login', e])
          })
      }
      this.$loader.hide()
    }
  }

}
</script>

<template>
  <master-template>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <div>
              <b-modal
                id="bv-modal-example"
                size="xl"
              >
                <template v-slot:modal-title>
                  {{eSel.title}}
                </template>
                <div class="d-block text-center">

                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">{{(eSel)?eSel.text:''}}</h3>
                      <b-button
                        variant="secondary"
                        class="float-right"
                        @click="download(eSel)"
                      ><i class="fas fa-download"></i></b-button>
                    </div>
                    <div class="card-body">
                      <div id="accordion">
                        <div role="tablist">
                          <b-card
                            no-body
                            class="mb-1"
                            v-for="item in musicas"
                            :key="item.id"
                            @click="loadPartituras(item.id)"
                          >
                            <b-card-header
                              header-tag="header"
                              class="p-1"
                              role="tab"
                            >
                              <b-button
                                block
                                href="#"
                                v-b-toggle="'test_' + item.id"
                                variant="info"
                              >{{item.name}}</b-button>
                            </b-card-header>
                            <b-collapse
                              :id="'test_' + item.id"
                              accordion="my-accordion"
                              role="tabpanel"
                            >
                              <b-card-body>
                                <b-card-text>
                                  <b-card class="mb-2">
                                    <b-card-text
                                      v-for="item in partituras"
                                      :key="item.id"
                                    >
                                      <span
                                        class="badge badge-warning mr-1"
                                        v-for="instrumento in item.instrumentos"
                                        :key="instrumento.id"
                                      >{{instrumento.name}}</span>
                                      <hr>
                                      <!-- <b-embed
                                        type="object"
                                        aspect="4by3"
                                      >
                                        <source
                                          :src="urlUploads + item.file"
                                          type="application/pdf"
                                        >
                                      </b-embed> -->
                                      <object
                                        class="embed-responsive embed-responsive-16by9"
                                        :data="urlUploads + item.file"
                                        type="application/pdf"
                                      >
                                        <embed
                                          class="embed-responsive-item"
                                          :src="urlUploads + item.file"
                                          type="application/pdf"
                                        />
                                      </object>
                                    </b-card-text>

                                  </b-card>

                                </b-card-text>

                              </b-card-body>
                            </b-collapse>
                          </b-card>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </b-modal>
            </div>

          </div>
          <div class="col-md-12 mt-3">

            <div class="card card-primary">
              <div class="card-body p-0">
                <FullCalendar
                  locale="pt-BR"
                  ref="fullCalendar"
                  defaultView="dayGridMonth"
                  :themeSystem="themeSystem"
                  :header="{
                  left: 'prev,next today',
                  center: 'title',
                  right: ''
                }"
                  :plugins="calendarPlugins"
                  :events="eventos"
                  @eventClick="onEventClick"
                />
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>
  </master-template>
</template>

<style lang='scss'>
@import "@fullcalendar/core/main.css";
@import "@fullcalendar/daygrid/main.css";
@import "@fullcalendar/timegrid/main.css";
@import "@fullcalendar/bootstrap/main.css";
</style>
