<script>
import FooterJr from '@/components/root/layout/FooterJr'
import HeaderJr from '@/components/root/layout/HeaderJr'
import AsideJr from '@/components/root/layout/AsideJr'

export default {
  name: 'LoginTemplate',
  components: {
    HeaderJr, AsideJr, FooterJr
  }

}
</script>
<template>
  <div class="hold-transition login-page">

      <slot />

  </div>
</template>
