<script>
import FooterJr from '@/components/root/layout/FooterJr'
import HeaderJr from '@/components/root/layout/HeaderJr'
import AsideJr from '@/components/root/layout/AsideJr'

export default {
  name: 'MasterTemplate',
  components: {
    HeaderJr, AsideJr, FooterJr
  }

}
</script>
<template>
  <div class="wrapper">

    <header-jr />

    <aside-jr />

    <div class="content-wrapper">
      <slot />
    </div>

    <footer-jr />

    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>

  </div>
</template>
