<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import { mapActions, mapGetters } from 'vuex'
import { isEmpty } from 'lodash'

export default {
  name: 'Musicas',
  components: { MasterTemplate },
  data () {
    return {
      musicas: []
    }
  },
  computed: {
    ...mapGetters(['_cMusicas', '_cPerfil'])
  },
  mounted () {
    this.load()
  },
  methods: {
    ...mapActions(['attemptAllMusicas', 'attemptRemoveMusica']),
    load () {
      this.$loader.show()
      if (isEmpty(this._cMusicas)) {
        this.attemptAllMusicas()
      } else if (this._cMusicas[0]['orquestra_id'] !== this._cPerfil.orquestra_id) {
        this.attemptAllMusicas()
      }
      this.$loader.hide()
    },
    del (item) {
      this.$loader.show()
      this.attemptRemoveMusica(item.id)
        .then(data => {
          this.load()
          this.$loader.hide()
        })
        .catch(e => {
          console.log(['musicas.index', e])
        })
    }
  }
}
</script>

<template>
  <master-template>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Músicas</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <router-link to='/'>Home</router-link>
              </li>
              <li class="breadcrumb-item active">Músicas</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">

              <div class="card-header">
                <div class="input-group input-group-sm card-title" style="width: 250px">
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Pesquisa"
                  >
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default" ><i class="fas fa-search"></i></button></div>
                </div>
                <div class="card-tools">
                  <div class="btn-group">
                    <router-link :to="{name: 'musica.novo'}" class="btn btn-default" title="Novo item">
                      <i class="nav-icon far fa-plus-square"></i>
                    </router-link>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th class="d-none d-sm-table-cell">Compositor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in _cMusicas"
                      :key="item.id"
                    >

                      <td><small class="badge badge-secondary">{{item.tonality}}</small> {{item.name}}</td>
                      <td class="d-none d-sm-table-cell">{{item.composer}}</td>
                      <td style="width: 93px">
                        <button
                          v-on:click="del(item)"
                          class="btn btn-sm btn-outline-danger"
                        ><i class="fas fa-trash-alt"></i></button>
                        <router-link
                          :to="{name: 'musica.editar', params: { id: item.id }}"
                          class="btn btn-sm btn-outline-secondary"
                        ><i class="far fa-edit"></i></router-link>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >&laquo;</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >1</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >2</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >3</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >&raquo;</a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

  </master-template>
</template>
