<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import { mapActions } from 'vuex'

export default {
  name: 'fInstrumento',
  components: { MasterTemplate },
  data () {
    return {
      titulo: 'Instrumento',
      instrumento: { id: null, name: '', tonality: '', description: '' }
    }
  },
  created () {
    this.instrumento.id = this.$route.params.id
    if (this.instrumento.id) {
      this.loadObjeto()
    }
  },
  methods: {
    ...mapActions(['attemptNewInstrumento', 'attemptLoadInstrumento', 'attemptEditInstrumento']),
    doSave () {
      this.$loader.show()
      const instrumento = this.instrumento
      if (this.instrumento.id) {
        this.attemptEditInstrumento({ ...instrumento })
          .then(resp => {
            // this.$router.push('/instrumento')
            if (resp.success) {
              this.$swal({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                type: 'success',
                text: resp.message
              })
            } else {
              this.$swal({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                type: 'warning',
                title: 'Ops ...',
                text: resp.message
              })
            }
          })
          .catch(e => {
            console.log(['login', e])
          })

        this.$loader.hide()
      } else {
        this.attemptNewInstrumento({ ...instrumento })
          .then(resp => {
            console.log(resp)
            // this.$router.push('/instrumento')
            if (resp.success) {
              this.$swal({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                type: 'success',
                text: resp.message
              })
            } else {
              this.$swal({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                type: 'warning',
                title: 'Ops ...',
                text: resp.message
              })
            }
          })
          .catch(e => {
            console.log(['login', e])
          })

        this.$loader.hide()
      }
    },
    loadObjeto () {
      if (this.instrumento.id) {
        this.$loader.show()
        this.attemptLoadInstrumento(this.instrumento.id)
          .then(response => {
            this.instrumento = response
            this.$loader.hide()
          })
          .catch(e => {
            console.log(['login', e])
          })
        this.$loader.hide()
      }
    }
  }
}
</script>

<template>
  <master-template>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ titulo }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">
                <router-link to='/instrumento'>{{ titulo }}</router-link>
              </li>
              <li class="breadcrumb-item active">{{instrumento.id ? 'Editar' : 'Criar'}}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">{{instrumento.id ? 'Alterar' : 'Registrar'}}</h3>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="instrumento.name">Nome</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="instrumento.name"
                        placeholder="Nome"
                      >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="instrumento.tonality">Tonalidade</label>
                      <select
                        v-model="instrumento.tonality"
                        class="form-control"
                      >
                        <option
                          disabled
                          value=""
                        >Escolha uma tonalidade</option>
                        <option value="B♭">B♭</option>
                        <option value="E♭">E♭</option>
                        <option value="Fá">Fá</option>
                        <option value="Dó">Dó</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="instrumento.description">Descrição</label>
                      <textarea
                        type="text"
                        class="form-control"
                        v-model="instrumento.description"
                        placeholder="Descrição"
                        rows="10"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <button
                  v-on:click="doSave()"
                  type="submit"
                  class="btn btn-primary"
                >{{instrumento.id ? 'Alterar' : 'Registrar'}}</button>
              </div>

            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>

  </master-template>
</template>
