<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import { mapActions } from 'vuex'

export default {
  name: 'InstrumentoTrashed',
  components: { MasterTemplate },
  data () {
    return {
      instrumentos: [],
      titulo: 'Instrumentos Removidos'
    }
  },
  mounted () {
    this.refresh()
  },
  methods: {
    ...mapActions(['attemptAllInstrumentosTrashed', 'attemptRestoreInstrumento']),
    refresh () {
      this.$loader.show()
      this.attemptAllInstrumentosTrashed().then(data => {
        this.instrumentos = data
        this.$loader.hide()
      })
    },
    recuperar (item) {
      this.$loader.show()

      this.attemptRestoreInstrumento(item.id)
        .then(response => {
          this.refresh()
          this.$loader.hide()
        })
        .catch(e => {
          console.log(['instrumentos.trashed', e])
        })
    }
  }
}
</script>

<template>
  <master-template>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{titulo}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Home</li>
              <li class="breadcrumb-item">
                <router-link to='/instrumento'>Instrumentos</router-link>
              </li>
              <li class="breadcrumb-item active">{{ titulo }}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <button
        v-on:click="refresh()"
        class="btn btn-app"
      ><i class="fas fa-sync-alt"></i>Atualizar lista</button>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{{titulo}} ativos</h3>
                <div class="card-tools">
                  <div
                    class="input-group input-group-sm"
                    style="width: 150px;"
                  >
                    <input
                      type="text"
                      name="table_search"
                      class="form-control float-right"
                      placeholder="Search"
                    >
                    <div class="input-group-append">
                      <button
                        type="submit"
                        class="btn btn-default"
                      ><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Nome</th>
                      <th style="width: 60px">Tonalidade</th>
                      <!-- <th class="d-none d-sm-table-cell">Descrição</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="item in instrumentos.data"
                      :key="item.id"
                    >
                      <td>{{item.id}}.</td>
                      <td>{{item.name}}</td>
                      <td>{{item.tonality}}</td>
                      <!-- <td class="d-none d-sm-table-cell">{{item.description}}</td> -->
                      <td style="width: 57px">
                        <button
                          v-on:click="recuperar(item)"
                          class="btn btn-sm btn-outline-secondary"
                          title="Recuperar item"
                        ><i class="fas fa-trash-restore-alt"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >&laquo;</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >1</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >2</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >3</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>

    </section>

  </master-template>
</template>
