<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import { mapActions, mapGetters } from 'vuex'
import Select2 from 'v-select2-component'
import { isEmpty } from 'lodash'

export default {
  name: 'fEvento',
  components: { MasterTemplate, Select2 },
  data () {
    return {
      tamanho: 'col-md-12',
      evento: { id: null, name: '', maestro: '', local: '', dt_evento: '', horario: '', observacao: '' },
      musica: null,
      ordem: null,
      eventoMusicas: [],
      musicas: []
    }
  },
  computed: {
    ...mapGetters(['_cMusicas'])
  },
  created () {
    this.evento.id = this.$route.params.id
    if (this.evento.id) {
      this.load()
      this.tamanho = 'col-md-6'
    }
  },
  methods: {
    ...mapActions(['attemptNewEvento', 'attemptLoadEvento', 'attemptEditEvento', 'attemptAllMusicas', 'attemptAllMusicasEvento', 'attemptAddMusica', 'attemptRemoveMusicaEvento']),
    doSave () {
      this.$loader.show()
      const evento = this.evento
      if (this.evento.id) {
        this.attemptEditEvento({ ...evento })
          .then(resp => {
          })
          .catch(e => {
            console.log(['login', e])
          })
      } else {
        this.attemptNewEvento({ ...evento })
          .then(resp => {
            this.evento = resp.data
            this.$router.push('/evento/form/' + resp.data.id)
            this.load()
          })
          .catch(e => {
            console.log(['login', e])
          })
      }
      this.$loader.hide()
    },
    load () {
      if (this.evento.id) {
        this.$loader.show()

        this.attemptLoadEvento(this.evento.id)
          .then(data => {
            this.evento = data.evento
            this.eventoMusicas = data.musicas
            this.$loader.hide()
          })
          .catch(e => {
            console.log(['login', e])
          })

        if (isEmpty(this._cMusicas)) {
          this.attemptAllMusicas()
        }

        let nArr = []
        this._cMusicas.forEach(function (item, index, arr) {
          nArr[index] = { id: item.id, text: item.name + ' :: ' + item.tonality + ' :: ' + item.composer }
        })
        this.musicas = nArr

        this.$loader.hide()
      }
    },
    addMusicaEvento () {
      this.attemptAddMusica({ evento: this.evento.id, ordem: this.ordem, musica: this.musica })
        .then(data => {
          this.eventoMusicas = data.data.musicas

          this.ordem = null
          this.musica = null
        })
        .catch(e => {
          console.log(['login', e])
        })
      this.$loader.hide()
    },
    remove (item) {
      this.attemptRemoveMusicaEvento(item)
        .then(resp => {
          this.eventoMusicas = resp.data.musicas

          this.ordem = null
          this.musica = null
        })
        .catch(e => {
          console.log(['login', e])
        })
    }
  }
}
</script>

<template>
  <master-template>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Evento</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">
                <router-link to='/eventos'>Eventos</router-link>
              </li>
              <li class="breadcrumb-item active">{{evento.id ? 'Editar' : 'Criar'}}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div :class="tamanho">
            <div class="card card-primary">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">Nome</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="evento.name"
                        placeholder="Nome"
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="tonality">Nome do Maestro</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="evento.maestro"
                        placeholder="Rafael Leite"
                      >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="composer">Local</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="evento.local"
                        placeholder="IEAD PVH - templo central"
                      >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="usuario.name">Dt. Evento</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="evento.dt_evento"
                        placeholder="15/03/1800"
                        v-mask="'##/##/####'"
                      >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="usuario.name">Horário</label>
                      <input
                        type="text"
                        class="form-control"
                        v-model="evento.horario"
                        placeholder="23:59"
                        v-mask="'##:##'"
                      >
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="letter">Observação</label>
                      <textarea
                        class="form-control"
                        v-model="evento.observacao"
                        rows="10"
                        placeholder="Observação ..."
                      ></textarea>
                    </div>
                  </div>

                </div>
              </div>

              <div class="card-footer">
                <button
                  v-on:click="doSave()"
                  type="submit"
                  class="btn btn-primary"
                >{{evento.id ? 'Alterar' : 'Registrar'}}</button>
              </div>

            </div>
          </div>
          <div
            class="col-md-6"
            v-if="this.evento.id"
          >
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Musicas</h3>
              </div>
              <div class="card-body">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-9">
                      <label for="name">Nome</label>
                      <Select2
                        v-model="musica"
                        :options="musicas"
                        class="form-group"
                        :settings="{ placeholder: 'Selecione uma ou mais musicas para o evento' }"
                      />
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="composer">Ordem</label>
                        <input
                          type="text"
                          class="form-control"
                          v-model="ordem"
                          placeholder="01"
                        >
                      </div>
                    </div>
                    <div class="form-group">
                      <button
                        class="btn btn-primary"
                        v-on:click="addMusicaEvento()"
                        v-show="musica !== null"
                      >Incluir</button>
                    </div>

                  </div>
                </div>

                <hr>
                <div class="card">

                  <div class="card-body p-0">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="width: 10px">Ordem</th>
                          <th>Música</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="item in eventoMusicas"
                          :key="item.id"
                        >
                          <td>{{item.pivot.ordem}}</td>
                          <td>
                            <span class="badge badge-dark"><small>{{item.tonality}}</small></span>
                            {{ item.name  }}
                            <br>
                            <small>{{item.composer}}</small>

                          </td>
                          <td  style="width: 10px">
                            <button
                              type="button"
                              class="btn btn-block btn-danger btn-sm"
                              @click="remove(item.pivot.id)"
                            ><i class="far fa-trash-alt"></i></button></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

  </master-template>
</template>
