<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import tableMembros from './lists/membros'
import tableUsuarios from './lists/usuarios'
import { mapActions } from 'vuex'

export default {
  name: 'Usuários',
  components: { MasterTemplate, tableMembros, tableUsuarios },
  data () {
    return {
      usuarios: [],
      isPageMembro: (this.$route.name === 'usuario.musicos'),
      titulo: 'Usuários'
    }
  },
  mounted () {
    this.refresh()
  },
  methods: {
    ...mapActions(['attemptAllUsuarios']),
    refresh () {
      this.$loader.show()
      if (this.isPageMembro) {
        // this.attemptAllMusicos().then(resp => {
        //   this.titulo = 'Membros da orquestra'
        //   this.usuarios = resp
        //   this.$loader.hide()
        // })
      } else {
        this.attemptAllUsuarios().then(resp => {
          this.usuarios = resp
        })
      }
      this.$loader.hide()
    }
  }
}
</script>

<template>
  <master-template>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{titulo}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Home</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="input-group input-group-sm card-title" style="width: 230px">
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Pesquisa"
                  >
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default" ><i class="fas fa-search"></i></button></div>
                </div>
                <div class="card-tools">
                  <div class="btn-group">
                    <router-link :to="{name: 'usuario.novo'}" class="btn btn-default" title="Novo item">
                      <i class="nav-icon far fa-plus-square"></i>
                    </router-link>
                    <button v-on:click="refresh()" class="btn btn-default d-none d-sm-table-cell" title="Atualizar lista" ><i class="fas fa-sync-alt"></i></button>
                    <router-link :to="{name: 'usuario.removidos'}" class="btn btn-default " title="Itens removidos">
                      <i class="fas fa-recycle"></i>
                    </router-link>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <table-membros @refresh="refresh" v-if="this.isPageMembro" :lista="usuarios"/>
                <table-usuarios v-else :lista="usuarios.data" @refresh="refresh"/>
              </div>
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >&laquo;</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >1</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >2</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >3</a></li>
                  <li class="page-item"><a
                      class="page-link"
                      href="#"
                    >&raquo;</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </master-template>
</template>
