<script>
import myUpload from 'vue-image-crop-upload'
import { mapGetters } from 'vuex'
export default {
  name: 'profileImage',
  props: ['usuario', 'orquestra', 'perfil'],
  components: { myUpload },
  data () {
    return {
      show: false,
      urlBase: process.env.API_URL,
      headers: {
        smail: '*_~',
        Accept: 'application/json',
        Authorization: 'Bearer ' + JSON.parse(localStorage.getItem('user')).token
      },
      imgDataUrl: '' // the datebase64 url of created image
    }
  },
  computed: {
    ...mapGetters(['_isAdmin'])
  },
  methods: {
    toggleShow () {
      this.show = !this.show
    },
    cropUploadSuccess (jsonData, field) {
      this.usuario.photo = jsonData.data.photo
    },
    cropUploadFail (status, field) {
      console.log('-------- upload fail --------')
      console.log(status)
      console.log('field: ' + field)
    }
  }
}
</script>
<template>
  <div>
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <div class="text-center">
          <img
            class="profile-user-img img-fluid img-circle"
            :src="this.usuario.photo || '/static/dist/img/user4-128x128.jpg'"
            alt="User profile picture"
            @click="toggleShow"
          >
        </div>

        <h3 class="profile-username text-center">{{usuario.name}}</h3>

        <p class="text-muted text-center">{{perfil.name}}</p>

        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <b>Orquestras</b> <a class="float-right">1,322</a>
          </li>
          <li class="list-group-item">
            <b>Instrumentos</b> <a class="float-right">2</a>
          </li>
        </ul>

        <a
          href="#"
          class="btn btn-primary btn-block"
          v-if="!_isAdmin  && perfil.id === '1'"
        >Convidar para <b> {{orquestra.name}}</b></a>
      </div>
      <!-- /.card-body -->
    </div>

    <div class="col-md-12">
      <my-upload
        field="imgUsuario"
        @crop-upload-success="cropUploadSuccess"
        @crop-upload-fail="cropUploadFail"
        v-model="show"
        :url="urlBase+`usuario/` + this.usuario.id + `/upload`"
        :width="300"
        :height="300"
        :headers="headers"
        img-format="png"
        langType="pt-br"
      ></my-upload>
    </div>
  </div>

</template>
