<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import profileImage from './profileImage'
import fUsuario from './forms/formProfile'
import TimeLine from './timeline'
import { mapGetters } from 'vuex'
export default {
  name: 'Usuários',
  components: { MasterTemplate, fUsuario, TimeLine, profileImage },
  computed: {
    ...mapGetters(['_cUser', '_cPerfil', '_isAdmin'])
  }
}
</script>
<template>
  <master-template>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">

          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <profileImage :usuario="_cUser" :perfil="_cPerfil.role" :orquestra="_cPerfil.orquestra"/>
            <!-- /.card -->

            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a
                      class="nav-link "
                      href="#timeline"
                      data-toggle="tab"
                    >Timeline</a></li>
                  <li class="nav-item"><a
                      class="nav-link active"
                      href="#settings"
                      data-toggle="tab"
                    >Settings</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <!-- /.tab-pane -->
                  <div
                    class="  tab-pane"
                    id="timeline"
                  >
                    <time-line/>
                  </div>

                  <div
                    class="active tab-pane"
                    id="settings"
                  >
                    <f-usuario :usuario-id="_cUser.id" />

                  </div>
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

  </master-template>
</template>
