<script>
import MasterTemplate from '@/components/root/templates/masterTemplate'
import { mapActions } from 'vuex'
export default {
  name: 'MinhasSolicitacoes',
  components: { MasterTemplate },
  data () {
    return {
      solicitacoes: [],
      codigo: null

    }
  },
  mounted () {
    this.load()
  },
  methods: {
    ...mapActions(['attemptAllSolicitacoes', 'attemptNewSolicitacao', 'attemptCancelaSolicitacao']),
    load () {
      this.$loader.show()
      this.attemptAllSolicitacoes().then(data => {
        this.solicitacoes = data.solicitacoes.data

        this.$loader.hide()
      })
    },
    doSolicitar () {
      console.log(this.codigo)
      // criar a solicitacao
      this.attemptNewSolicitacao(this.codigo).then(data => {
        this.load()
      })
    },
    del (item) {
      this.$loader.show()
      this.attemptCancelaSolicitacao(item.id)
        .then(resp => {
          this.load()
          this.$loader.hide()
        })
        .catch(e => {
          console.log(['usuarios.mebros', e])
        })
    }
  }

}
</script>
<template>

  <master-template>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="usuario.name">Solicitações (digite o codigo da orquestra)</label>
              <div class="input-group input-group-sm">

                <input
                  type="text"
                  class="form-control"
                  v-model="codigo"
                >
                <span class="input-group-append">
                  <button
                    type="button"
                    v-on:click="doSolicitar()"
                    class="btn btn-info btn-flat"
                  >Enviar pedido</button>
                </span>
              </div>

            </div>
          </div>
        </div>
        <hr>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Solicitações</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Orquestra</th>
                  <th>Data</th>
                  <th style="width: 40px"></th>
                </tr>
              </thead>
              <tbody>

                <tr
                  v-for="item in solicitacoes"
                  :key="item.id"
                >
                  <td>{{item.id}}</td>
                  <td>{{item.orquestra.acronyms}} - {{item.orquestra.name}}</td>
                  <td>
                    {{item.created_at}}
                  </td>
                  <td>
                    <span
                      v-if="item.status === 'CANCELADO'"
                      class="badge bg-danger"
                    >{{item.status}}</span>
                    <span
                      v-if="item.status === 'PENDENTE'"
                      class="badge bg-warning"
                    >{{item.status}}</span>
                  </td>
                  <td><button
                      v-if="item.status !== 'CANCELADO'"
                      v-on:click="del(item)"
                      class="btn btn-sm btn-outline-danger"
                    ><i class="fas fa-trash-alt"></i></button></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

    </section>

  </master-template>
</template>
