<script>
export default {
  name: 'Timeline'
}
</script>
<template>

  <div class="timeline timeline-inverse">
    <!-- timeline time label -->
    <div class="time-label">
      <span class="bg-danger">
        10 Feb. 2014
      </span>
    </div>
    <!-- /.timeline-label -->
    <!-- timeline item -->
    <div>
      <i class="fas fa-envelope bg-primary"></i>

      <div class="timeline-item">
        <span class="time"><i class="far fa-clock"></i> 12:05</span>

        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

        <div class="timeline-body">
          Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
          weebly ning heekya handango imeem plugg dopplr jibjab, movity
          jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
          quora plaxo ideeli hulu weebly balihoo...
        </div>
        <div class="timeline-footer">
          <a
            href="#"
            class="btn btn-primary btn-sm"
          >Read more</a>
          <a
            href="#"
            class="btn btn-danger btn-sm"
          >Delete</a>
        </div>
      </div>
    </div>
    <!-- END timeline item -->
    <!-- timeline item -->
    <div>
      <i class="fas fa-user bg-info"></i>

      <div class="timeline-item">
        <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

        <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request
        </h3>
      </div>
    </div>
    <!-- END timeline item -->
    <!-- timeline item -->
    <div>
      <i class="fas fa-comments bg-warning"></i>

      <div class="timeline-item">
        <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>

        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

        <div class="timeline-body">
          Take me to your leader!
          Switzerland is small and neutral!
          We are more like Germany, ambitious and misunderstood!
        </div>
        <div class="timeline-footer">
          <a
            href="#"
            class="btn btn-warning btn-flat btn-sm"
          >View comment</a>
        </div>
      </div>
    </div>
    <!-- END timeline item -->
    <!-- timeline time label -->
    <div class="time-label">
      <span class="bg-success">
        3 Jan. 2014
      </span>
    </div>
    <!-- /.timeline-label -->
    <!-- timeline item -->
    <div>
      <i class="fas fa-camera bg-purple"></i>

      <div class="timeline-item">
        <span class="time"><i class="far fa-clock"></i> 2 days ago</span>

        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>

        <div class="timeline-body">
          <img
            src="http://placehold.it/150x100"
            alt="..."
          >
          <img
            src="http://placehold.it/150x100"
            alt="..."
          >
          <img
            src="http://placehold.it/150x100"
            alt="..."
          >
          <img
            src="http://placehold.it/150x100"
            alt="..."
          >
        </div>
      </div>
    </div>
    <!-- END timeline item -->
    <div>
      <i class="far fa-clock bg-gray"></i>
    </div>
  </div>
</template>
